<template>
  <div class="jumbotron">
      <img src="../../assets/img/jumbotron.jpg" alt="">
      <div class="featured">
        <div class="info">
          <span class="name">Euphoria</span>
          <p class="desc">A group of high school students navigate love and friendships in a world of drugs, sex, trauma, and social media.</p>
          <button class="play">Play Trailer</button>
        </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.jumbotron {
  height: 300px;
  position: relative;

  img {
    filter: brightness(50%); // Reduces Brightness
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .featured {
    z-index: 99;
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .info {
      margin: 0 auto;
      padding: 0 12px;
      width: 100%;
      max-width: 1400px;
      color: $text-color;

      .name {
        font-weight: 800;
        font-size: 40px;
        line-height: 72px;
      }

      .desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;  
        margin-bottom: 8px;      
      }

      button.play {
        background: $secondary-color;
        transition: all .3s ease;
        color: $text-color;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
        font-weight: 400;
        border: none;
        
        &:hover {
          background: $secondary-button-color;
        }
        
      }
    }
  }

}
</style>