<template>
    <div class="popular">
        <div class="titles">
            <div class="title" v-for="movie in result" :key="movie.id">
                <div class="poster">
                    <img @click="setDetails(movie)" :src="'https://image.tmdb.org/t/p/w500'+movie.poster_path" :alt="movie.original_title">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios"
import {mapMutations} from "vuex"

export default {
    data(){
        return {
            result: []
        }
    },
    async fetch(){
        await this.fetchTitles()
    },
    methods: {
        ...mapMutations({
            setDetailsFunc: 'trailer/setDetails'
        }),
        setDetails(movie){
            let data = {
                id: movie.id,
                title : movie.title,
                desc: movie.overview,
                img: movie.backdrop_path,
                video: movie.video
            }
            this.setDetailsFunc(data)
        },
        async fetchTitles(){
            await axios.get(
                'https://api.themoviedb.org/3/movie/top_rated?api_key=2eec9df6bc07a1444655395dc6f4b68c&language=en-US'
            ).then((response) => {
                this.result = response.data.results
            }).catch((error) => {
                console.log(error)
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.popular {
    padding: 32px 12px;
    max-width: 1400px;
    margin: 0 auto;

    .titles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        row-gap: 44px;

        .title {
            
            .poster img{
                display: block;
                cursor: pointer;
                width: 306.5px;
                height: 359.75px;
            }
        }
    }
}

@media (max-width: 1340px){
    .popular .titles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 22px;
    }
}

@media (max-width: 968px){
    .popular {
        padding: 16px 6px;
        max-width: 700px;
    }

    .popular .titles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        row-gap: 20px;
    }
}


@media (max-width: 648px){
    .popular {
        padding: 16px 6px;
        margin: auto;
        max-width: 350px;
    }

    .popular .titles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 14px;
        row-gap: 20px;
    }
}

@media (max-width: 425px){
    .popular {
        max-width: 325px;
    }

    .popular .titles {
        display: block;
    }

    .poster img {
        margin-bottom: 2rem;
    }
}

</style>