$text-color: #fff;
$secondary-color: rgb(223, 7, 7);
$background-color: rgba(0, 0, 0, 0.95);
$button-color: rgba(196, 196, 196, 0.315);
$secondary-button-color: rgb(167, 30, 30);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Georgia;
    scroll-behavior: smooth;
}

html,
body {
    background: $background-color;
    overflow-x: hidden;
}
