<template>
  <div>
    <Home />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Home from '../components/Home/index.vue'

export default Vue.extend({
  components: {
    Home
  },
  data(){
    return {
      
    }
  },
  methods: {
    
  }
})
</script>


<style lang="scss" scoped>

</style>